@using StrawPoll.Models;

@{
    Layout = "~/Views/Shared/MaDisposition.cshtml";
}
@{
    ViewBag.Title = "Accueil";
}
@section Title
{
                    Bienvenue sur Petra's Straw Poll
}
                
    <p></p>
    <p></<p>
    <p class="card-body bg-light text-primary card-text text-center">  Sur Petra's Straw Poll vous pouvez créer des sondages de paille simples anonyme et sans enregistrement d'un compte. Nous avons optimisé la création et le processus de vote, de sorte qu'il n'a pas d'importance où vos amis ou membres de la famille sont, ils peuvent voter parfaitement facile sur votre Straw Poll créé et partagé avant. Explicite, Petra's Straw Poll est complète gratuitement. Nous espérons que vous venez de trouver le site de vote de votre choix futur. Si vous voulez créer un court sondage pour voter sur des choses au hasard, vous êtes à la bonne place.</p>

    <p></p>

    <form action="@Url.Action("Creation")" method="post">

        <div class="row">
            <div class="col">
                <label class="btn col  btn-primary  ">Selectionnez si vous le désirez un nombre maximum de réponses :</label>
            </div>
            <div class="col">
                <div class=" card-body">
                    <input type="text" class="form-control text-dark" name="nombreReponseMax" checked placeholder="Par défaut c'est 4
                           
                           réponses">
                </div>
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary textall" value="Créer un sondage" : />
            </div>
            <p class="col">   </p>
            <p class="col">   </p>
        </div>

    </form>
 