@using StrawPoll.Models;

@{
    Layout = "~/Views/Shared/MaDisposition.cshtml";
}
@{
    ViewBag.Title = "APropos";
}
@section Title
{
    A Propos
}
            
<div class="card-body bg-light text-primary card-text text-center">
    <br />  Le site Petra"s Straw Poll est développé dans le but de pouvoir créer, voter, partager et éventuellement désactiver des sondages.<br />
    <br />   Cette application a été crée par Petra Mazellier en projet C# .NET de l"école CCI Campus<br />
</div>
<p></p>
<p></p
<p></p>
<p></p>
<fieldset style="text-align:center">
    <a href="@Url.Action("Accueil")" class="btn btn-primary textall">Accueil</a>
</fieldset>
<p></p>
<p></p>
<p></p>
<p></p>

