@using StrawPoll.Models;
@{
    Layout = "~/Views/Shared/MaDisposition.cshtml";
}
@{
    ViewBag.Title = "Condition";
}
@section Title
    {
    Conditions d'utilisation
}


    <p class="card-body bg-light text-primary card-text text-center">
        <br> Le site Petra"s Straw Poll est développé dans le but de pouvoir créer, voter, partager et éventuellement désactiver des sondages. <br />
        <br> 1. Poser une question. <br />
        <br> 2. Sélectionner les Réponses. <br />
        <br>  3. Partager les liens. <br />
        <br>  (Gardez le lien désactiver sur un endroit sûr pour pouvoir le retrouver) <br />
        <br>  4. Évaluer les résultats. <br />


    <p></p>
    <fieldset style="text-align:center">
        <a href="@Url.Action("Accueil")" class="btn btn-primary textall">Accueil</a>

    </fieldset>


    