@using StrawPoll.Models;
@{
    Layout = "~/Views/Shared/MaDisposition.cshtml";
}
@{
    ViewBag.Title = "Confidentialite";
}
@section Title
{
    Confidentialité et cookies
}


    <p class="card-body bg-light text-primary card-text text-center">
        <br> Le site Petra"s Straw Poll  conserve les cookies ainsi que l'adresse IP des votants pour gérer

        leurs nombres de votes sur chaque sondage. <br />
        <br> Il est développé dans le but de pouvoir créer, voter,
        partager et éventuellement désactiver des sondages. <br />
    <p></p>
    <fieldset style="text-align:center">
        <a href="@Url.Action("Accueil")" class="btn btn-primary textall">Accueil</a>

    </fieldset>
