@using StrawPoll.Models;
@model ConfirmationDesactiver
@{
    Layout = "~/Views/Shared/MaDisposition.cshtml";
}
@{
    ViewBag.Title = "ConfirmationDesactiver";
}
@section Title
{
    Confirmation du Désactivage du sondage
}


    <p></p>
    <h4 class="card-text text-center text-danger">
        Vous avez bien désactivé votre sondage !
    </h4>
    <h4 class="card-text text-center">
        <br>   Accédez au résultat<br />
        <br>   <br />
    </h4>

    <form>
        <div class="row">
            <p class="col">   </p>
            <div class="col">
                <a href="@Url.Action("Accueil")" class="btn col  btn-primary  ">Accueil</a>
            </div>
            <p class="col">   </p>
            <div class="col">
                <a href="@Url.Action("Resultat", new { idSondage = Model.NouveauSondage.IdSondage})" class="btn col btn-primary  ">Résultat</a>
            </div>
            <p class="col">   </p>
        </div>
    </form>

