@using StrawPoll.Models;
@model ConfirmationVote
@{
    Layout = "~/Views/Shared/MaDisposition.cshtml";
}
@{
    ViewBag.Title = "ConfirmationVote";
}
@section Title
{
    Confirmation Vote
}

    <h4 class="card-body bg-light text-primary card-text text-center">
        Vous avez bien voté !<br />
        <br>   Accédez au resultat<br />
        <br>
    </h4>

    <form>
        <div class="row">
            <p class="col">   </p>
            <div class="col">
                <a href="@Url.Action("Accueil")" class="btn col  btn-primary  ">Accueil</a>
            </div>
            <p class="col">   </p>
            <div class="col">
                <a href="@Url.Action("Resultat", new { idSondage = Model.SondageConfirmationVote.IdSondage})" class="btn col btn-primary  ">Résultat</a>
            </div>
            <p class="col">   </p>
        </div>
    </form>
    <p></p>
    <p></p>
    <p></p>
