@using StrawPoll.Models;
@model Creation
@{
    Layout = "~/Views/Shared/MaDisposition.cshtml";
}
@{
    ViewBag.Title = "Creation";
}
@section Title
{
    Création du sondage
}


        <p></p>

        <form action="@Url.Action("SubmitCreation", new { nombreReponseMaximum = Model.NombreReponseMaximum })" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Question :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="question" checked placeholder="Saissisez votre question svp">
                </div>
            </div>
            @for (int i = 1; i <= @Model.NombreReponseMaximum; i++)
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Réponse @i :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="reponse[]" checked placeholder="Entrez votre réponse svp">
                    </div>
                </div>
            }        
            <div class="form-group row">
                <div class="col-sm-2">  </div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="multiSondageString">
                        <label class="form-check-label">
                            Choix multiples
                        </label>
                    </div>
                </div>
            </div>

            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <fieldset style="text-align:center">
                <input type="submit" class="btn btn-primary textall" value="Créer le sondage" : />
            </fieldset>
        </form>

        <p></p>
   
