@using StrawPoll.Models;
@model CreationInvalide
@{
    Layout = "~/Views/Shared/MaDisposition.cshtml";
}
@{
    ViewBag.Title = "CreationInvalide";
}
@section Title
{
    Création incorrecte
}

    <p></p>
    <h4 class="card-text text-center text-danger">
        Vous devez saisir au moins une question et deux réponses !
    </h4>
    <h4 class="card-text text-center">
        <br>   Recommencez s'il vous plaît<br />
        <br>   <br />
    </h4>
    <form>
        <div class="row">
            <p class="col">   </p>
            <div class="col">
                <a href="@Url.Action("Accueil")" class="btn col  btn-primary  ">Accueil</a>
            </div>
            <p class="col">   </p>
            <div class="col">
                <a href="@Url.Action("Creation", new { nombreReponseMax = Model.NombreReponseMaximum })" class="btn col btn-primary  ">Créer un sondage</a>
            </div>
            <p class="col">   </p>
        </div>
    </form>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
