USE [master]
GO
/****** Object:  Database [StrawPoll]    Script Date: 17/04/2019 10:33:18 ******/
CREATE DATABASE [StrawPoll]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StrawPoll', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\StrawPoll.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StrawPoll_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\StrawPoll_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StrawPoll].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StrawPoll]
GO
/****** Object:  Table [dbo].[Reponse]    Script Date: 17/04/2019 10:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reponse](
	[IdReponse] [int] IDENTITY(1,1) NOT NULL,
	[NomReponse] [nvarchar](max) NOT NULL,
	[NombreVoteReponse] [int] NOT NULL,
	[FKIdSondage] [int] NOT NULL,
 CONSTRAINT [PK_Reponse] PRIMARY KEY CLUSTERED 
(
	[IdReponse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sondage]    Script Date: 17/04/2019 10:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sondage](
	[IdSondage] [int] IDENTITY(1,1) NOT NULL,
	[NomSondage] [nvarchar](max) NOT NULL,
	[MultiSondage] [bit] NOT NULL,
	[EtatSondage] [bit] NOT NULL,
	[NumSecurite] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Sondage] PRIMARY KEY CLUSTERED 
(
	[IdSondage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Reponse]  WITH CHECK ADD  CONSTRAINT [FK_Reponse_Sondage] FOREIGN KEY([FKIdSondage])
REFERENCES [dbo].[Sondage] ([IdSondage])
GO
ALTER TABLE [dbo].[Reponse] CHECK CONSTRAINT [FK_Reponse_Sondage]
GO
USE [master]
GO
